<app-mostrar-errores *ngIf="errores" [errores]="errores"></app-mostrar-errores>

<form [formGroup]="formulario" (submit)="onSubmit()">

    <mat-form-field appearance="outline" class="inputNombre">
        <mat-label>Nombre</mat-label>
        <input formControlName="nombre" matInput/>
        <mat-error>El campo es obligatorio</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Fecha de nacimiento</mat-label>
        <input formControlName="fechaNacimiento" [matDatepicker]="picker" matInput />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <ng-container *ngIf="actorEditar">
        <app-input-img class="botonera" (archivoSeleccionado)="archivoSeleccionado($event)" [urlImagenActual]="actorEditar.foto"></app-input-img>
    </ng-container>
    <ng-container *ngIf="!actorEditar">
        <app-input-img class="botonera" (archivoSeleccionado)="archivoSeleccionado($event)"></app-input-img>
    </ng-container>
    
    <app-input-markdown [tituloEditar]="'Biografía'" (markdownComunicador)="tratarDescripcion($event)" [contenidoMardown]="actorEditar.biografia"></app-input-markdown>

    <div>
        <button mat-flat-button color="primary" type="submit" [disabled]="formulario.invalid" class="botonGuardar">Guardar Cambios</button>
        <button mat-stroked-button routerLink="/actores">Cancelar</button>
    </div>

</form>
